{
  "singleQuote": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "printWidth": 100
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
